<div class="fab-container">
  <!-- Botón principal -->
  <ion-fab-button (click)="toggleMenu()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <!-- Botón secundario (logout) -->
  <div class="fab-options" [class.open]="isOpen">
    <ion-fab-button color="danger" (click)="onLogoutClick()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>

      <!-- Botón de Actualizar Perfil -->
    <ion-fab-button color="primary" (click)="onProfileClick()">
    <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
  </div>
</div>