<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'LOGIN.TITLE' | translate }}</ion-title>

    <!-- Toggle Translate en el header -->
    <ion-buttons slot="end">
      <app-toggle-translate></app-toggle-translate>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Usamos el CardComponent para encerrar el formulario -->
  <app-card>
    <div class="login-container">
      <h2>{{ 'LOGIN.TITLE' | translate }}</h2>

      <form (ngSubmit)="login()">
        <!-- Usamos el InputComponent en lugar de ion-input -->
        <app-input
          type="email"
          [placeholder]="'LOGIN.EMAIL' | translate"
          [(ngModel)]="email"
          name="email">
        </app-input>

        <app-input
          type="password"
          [placeholder]="'LOGIN.PASSWORD' | translate"
          [(ngModel)]="password"
          name="password">
        </app-input>

        <div class="btn-container">
          <!-- Botón de login -->
          <app-button type="submit">
            {{ 'LOGIN.BUTTON' | translate }}
          </app-button>
        </div>
      </form>

      <!-- LinkComponent -->
      <div class="links-container">
        <app-link [href]="'/register'" text="{{ 'LOGIN.NO_ACCOUNT' | translate }}"></app-link>
      </div>
    </div>
  </app-card>

</ion-content>
