<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>

    <!-- Toggle Translate en el header -->
    <ion-buttons slot="end">
      <app-toggle-translate></app-toggle-translate>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Usamos el CardComponent para encerrar el formulario -->
  <app-card>
    <div class="login-container">
      <h2>Sing Up</h2>

      <form>
        <!-- Usamos el InputComponent en lugar de ion-input -->
        <app-input type="email" placeholder="Correo electrónico"></app-input>
        <app-input type="password" placeholder="Contraseña"></app-input>

        <div class="btn-container">
          <!-- Botón de login -->
          <app-button>Entrar</app-button>
        </div>
      </form>

      <!-- LinkComponent -->
      <div class="links-container">
      <app-link [href]="'/register'" text="¿No tienes cuenta?"></app-link>

      </div>
    </div>
  </app-card>

</ion-content>
