<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'REGISTER.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <app-toggle-translate></app-toggle-translate>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-card>
    <div class="register-container">
      <h2>{{ 'REGISTER.SUBTITLE' | translate }}</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <app-input
          formControlName="name"
          placeholder="{{ 'REGISTER.NAME' | translate }}">
        </app-input>

        <app-input
          formControlName="lastname"
          placeholder="{{ 'REGISTER.LASTNAME' | translate }}">
        </app-input>

        <app-input
          formControlName="email"
          type="email"
          placeholder="{{ 'REGISTER.EMAIL' | translate }}">
        </app-input>

        <app-input
          formControlName="password"
          type="password"
          placeholder="{{ 'REGISTER.PASSWORD' | translate }}">
        </app-input>

        <div class="btn-container">
          <app-button
            type="submit"
            [disabled]="registerForm.invalid">
            {{ 'REGISTER.BUTTON' | translate }}
          </app-button>
        </div>
      </form>

      <div class="links-container">
        <app-link
          [href]="'/login'"
          text="{{ 'REGISTER.HAVE_ACCOUNT' | translate }}">
        </app-link>
      </div>
    </div>
  </app-card>
</ion-content>