<ion-header>
  <ion-toolbar>
    <ion-title>Wallpapers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-floating-button
    (logoutClick)="logout()"
    (profileClick)="goToProfile()"
    (uploadImageClick)="onUploadImage()">
  </app-floating-button>

  <div *ngIf="wallpapers.length === 0" class="empty">
    <p>No hay wallpapers disponibles</p>
  </div>

 <ion-grid *ngIf="wallpapers.length > 0">
  <ion-row>
    <ion-col size="6" *ngFor="let wp of wallpapers">
      <ion-card class="wallpaper-card" (click)="selectWallpaper(wp.url)">
        <img *ngIf="wp.url" [src]="wp.url" alt="" />
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
